<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!--  
		environments, dataSource => DB 연결 정보
		객체를 생성해야 함
	-->
	<!-- 	
	<environments default="">
		<environment id="">
			<dataSource type="">
				<property name="username" value="KH_JAR"/>
			</dataSource>
		</environment>
	</environments> 
	-->



</configuration>